<h1>Your Cart</h1>
<ul>
    {% for product in cart.products.all %}
        <li>
            <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" style="width: 150px;">
            <h3>{{ product.product_name }}</h3>
            <p>Price: ₹{{ product.product_price }}</p>
            <a href="{% url 'wishlist_view' %}?add={{ product.id }}">Move to Wishlist</a>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'payment_view' %}?cart=true" class="btn btn-primary">Proceed to Checkout</a>
